main {
  min-height: 100vh;
  position: relative;
}
img {
  width: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

#logo {
  aspect-ratio: unset;
  object-fit: unset;
  width: 15%;
  height: 15%;
}

.navbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.bg-custom {
  background-color: #5d729a !important;
}

body {
  background-color: aliceblue;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #22223b;
  margin: 0;
  padding: 0;
}
