main {
  min-height: 100vh;
  position: relative;
  background-color: #def5e8;
}
img {
  width: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

#logo {
  width: 200px;
  height: 60px;
  object-fit: contain;
}

#logoLogin {
  aspect-ratio: unset;
  object-fit: contain;
  width: 100%;
  height: auto;
  max-height: 250px;
}

.navbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1000;
}

.navbar-nav .nav-item form {
  display: flex;
  align-items: center;
}

.navbar .btn-link.nav-link {
  text-decoration: none;
}

.navbar .btn-link.nav-link:hover,
.navbar .btn-link.nav-link:focus {
  color: #d8f3ea;
  text-decoration: none;
}

.bg-custom {
  background-color: #15406c !important;
}

/* Estilos para el dropdown */
.navbar .dropdown-menu {
  z-index: 1050;
  background-color: #286a81;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar .dropdown-item {
  color: #def5e8;
  transition: background-color 0.2s;
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
  background-color: #15406c;
  color: #def5e8;
}

body {
  background-image: url("../images/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #15406c;
  margin: 0;
  padding: 0;
}

#caja{
  background-color: #6fc89c;
  padding: 12px;
  color: #15406c;
}


.row-cols-3 .card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #286a81;
  border: none;
  color: #def5e8;
}


.row-cols-3 .card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: transparent;
}


.row-cols-3 .card-body .btn {
  margin-top: auto;
  background-color: #15406c;
  color: #def5e8;
  border: none;
  font-weight: 600;
  transition: background 0.2s;
}
.row-cols-3 .card-body .btn:hover {
  background-color: #286a81;
  color: #def5e8;
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(5, 13, 9, 0.436);
  z-index: -1;
}

#colorTexto{
  color: #15406c;
  font-size:x-large;
}

#cajaTitulo{
  background-color: #def5e8;
  width: 30%;
  margin: 10px 0 10px 0;
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 5px;
  border-radius: 8px;
  color: #15406c;
}

#tituloLogin{
  text-align: center;
}