{% extends "templateEmpresa/base.html" %}
{% block contenido %}
{% load static %}

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="card shadow-lg p-4">
                <div class="card-body">
                    <h2 class="text-center pb-4">Modificar Producto</h2>

                    <form method="POST" action="{% url 'modificarProducto' producto.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            {{ form.non_field_errors }}

                            <div class="col-12 col-md-6 col-lg-3 mb-3">
                                {{ form.nombre.label_tag }}
                                {{ form.nombre }}
                                <div class="text-danger">{{ form.nombre.errors }}</div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-3 mb-3">
                                {{ form.descripcion.label_tag }}
                                {{ form.descripcion }}
                                <div class="text-danger">{{ form.descripcion.errors }}</div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-3 mb-3">
                                {{ form.precio.label_tag }}
                                {{ form.precio }}
                                <div class="text-danger">{{ form.precio.errors }}</div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-3 mb-3">
                                {{ form.stock.label_tag }}
                                {{ form.stock }}
                                <div class="text-danger">{{ form.stock.errors }}</div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-3 mb-3">
                                {{ form.categoria.label_tag }}
                                {{ form.categoria }}
                                <div class="text-danger">{{ form.categoria.errors }}</div>
                            </div>

                            
                            <div class="col-12 col-md-6 col-lg-3 mb-3">
                                {% if producto.imagen %}
                                    <img src="{{ producto.imagen.url }}" alt="Imagen del producto" width="200" height="200" class="mx-auto my-auto d-block">
                                {% else %}
                                    <img src="{% static 'images/default.jpg' %}" alt="Imagen de un producto" width="200" height="200" class="mx-auto my-auto d-block">
                                {% endif %}
                                {{ form.imagen.label_tag }}
                                {{ form.imagen }}
                                <div class="text-danger">{{ form.imagen.errors }}</div>
                            </div>
                        </div>
                        

                        <div class="row mt-3">
                            <div class="col-6 text-start">
                                <a href="{% url 'mostrarProducto' %}" class="btn btn-dark">Ir a Productos</a>
                            </div>
                            <div class="col-6 text-end">
                                <button type="submit" class="btn btn-warning">Modificar Producto</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
















































































































+