{% extends 'templateEmpresa/base.html' %}

{% block contenido %}

    <div class="container">
        <div class = "row mt-5">
            <div class="col">
                <h2>Modificar Productos</h2>
                <form  method="post" action="{% url 'modificarProducto' producto.id %}">
                    {% csrf_token %}
                    <div class="row">
                        {{form.non_field_errors}}
                        <div class="col-3 mb-3">
                            {{form.nombre.label_tag}}
                            {{form.nombre}}
                            {{form.nombre.errors}}

                        </div>
                        <div class="col-3 mb-3">
                            {{form.descripcion.label_tag}}
                            {{form.descripcion}}
                            {{form.descripcion.errors}}

                        </div>
                        <div class="col-3 mb-3">
                            {{form.precio.label_tag}}
                            {{form.precio}}
                            {{form.precio.errors}}

                        </div>
                        <div class="col-3 mb-3">
                            {{form.stock.label_tag}}
                            {{form.stock}}
                            {{form.stock.errors}}

                        </div>
                        <div>
                            {{form.imagen.label_tag}}
                            {{form.imagen}}
                            {{form.imagen.errors}}
                        </div>
                       
                        <div class="col-3 mb-3">
                            {{form.categoria.label_tag}}
                            {{form.categoria}}
                            {{form.categoria.errors}}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-dark" href="{% url 'inicio' %}">Ir a inicio</a>

                        </div>
                        <div class="col">
                            <button class="btn btn-warning" type="submit">Modificar</button>

                        </div>

                    </div>

                </form>             
            </div>

        </div>

    </div>

{% endblock %}
















































































































+