<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GM Express | Servicios de alimentación</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container py-4">
          <section>
            <h1 class="mb-4">Catalogo de Servicios</h1>
            <div class="row row-cols-3 justify-content-end g-4">
            {% for nombre,articulo in catalogo_servicios.items %}
            <div class="col">
                <div class="card" style="width: 18rem">
                    <img
                        src="{% static 'images/' %}{{articulo.0}}"
                        class="card-img-top"
                        alt="{{nombre}}"
                    />
                    <div class="card-body">
                        <h5 class="card-title">{{nombre}}</h5>
                        <button class="btn btn-success">Ver más</button>
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
