<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}GM Express{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <!-- Estilos generales -->
    <link rel="stylesheet" href="{% static 'CSS/catalogo1.css' %}" />

    {% block extra_css %}{% endblock %}
  </head>

  <body>

    {% block menu %}
    <nav class="navbar navbar-expand-sm bg-custom navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand logito" href="{% url 'inicio' %}">
          <img
            src="{% static 'images/gm express.png' %}"
            alt="GM Express"
            id="logo"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Alternar navegación"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">DJANGO</a>
            </li>

            <!-- Lógica de acceso -->
            {% if user.is_authenticated %}
              {% if perms.usuarios.view_usuario %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userMenuDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Administrar Usuarios
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuDropdown">
                  <li><a class="dropdown-item" href="{% url 'crearUsuarios' %}">Crear Usuario</a></li>
                  <li><a class="dropdown-item" href="{% url 'listarUsuarios' %}">Listar Usuarios</a></li>
                </ul>
              </li>
              {% endif %}
              {% if perms.catalogue.view_servicio %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="serviceMenuDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Administrar Servicios
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="serviceMenuDropdown">
                  <li><a class="dropdown-item" href="{% url 'crearServicio' %}">Crear Servicio</a></li>
                  <li><a class="dropdown-item" href="{% url 'mostrarServicios' %}">Listar Servicios</a></li>
                </ul>
              </li>
              {% endif %}
              {% if perms.catalogue.view_producto %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="serviceMenuDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Administrar Productos
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="serviceMenuDropdown">
                  <li><a class="dropdown-item" href="{% url 'crearCategoria' %}">Crear Categorías</a></li>
                  <li><a class="dropdown-item" href="{% url 'mostrarCategorias' %}">Listar Categorías</a></li>
                  <li><a class="dropdown-item" href="{% url 'crearProducto' %}">Crear Producto</a></li>
                  <li><a class="dropdown-item" href="{% url 'mostrarProducto' %}">Listar Productos</a></li>

                </ul>
              </li>
              {% endif %}

              <li class="nav-item d-flex align-items-center">
                <form method="post" action="{% url 'logout' %}" class="d-inline">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-link nav-link px-0">
                    Cerrar Sesión
                  </button>
                </form>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'info_empresa' %}">Sobre Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% endblock menu %}

    <!--  Contenido principal -->
    {% block contenido %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
