{% extends 'templateEmpresa/base.html' %}
{% load static %}

{% block title %}GM Express{% endblock %}

{% block contenido %}
<div class="container py-4">
  <section>
    <div class="card-body text-center" id="cajaTitulo">
      <h1 class="mb-5" id="colorTexto">Catalogo de Servicios</h1>
    </div>

    <div class="row row-cols-3 justify-content-center g-4">
      {% for id, dato in catalogo_servicios.items %}
      <div class="col">
        <div class="card" style="width: 18rem" id="caja">
          <img
            src="{% static 'images/' %}{{dato.imagen}}"
            class="card-img-top"
            alt="{{dato.nombre}}"
            width="150"
          />
          <div class="card-body" id="caja">
            <h5 class="card-title">{{dato.nombre}}</h5>
            {% if dato.servicio_tipo %}
            <a
              href="{% url 'catalogo_productos' dato.servicio_tipo %}"
              class="btn btn-success"
              >Ver más</a
            >
            {% else %}
            <a class="btn btn-secondary disabled" aria-disabled="true"
              >Sin detalle</a
            >
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>
{% endblock %}
