{% extends 'templateEmpresa/base.html' %}

{% block contenido %}

        <div class="row mt-5">
            <div class="col">
                <h2>Mantenedor de Tipos de usuarios</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        {{ form.non_field_errors }}
                        <div class="col-3 mb-3">
                            {{ form.descripcion.label_tag }} {{ form.descripcion }}
                            <div class="text-danger">{{ form.descripcion.errors }}</div>
                        </div>
                        <div class="col-3 mb-3">
                            {{ form.estado.label_tag }} {{ form.estado }}
                            <div class="text-danger">{{ form.estado.errors }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'inicio' %}" class="btn btn-danger">Ir al inicio</a>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-success">Guardar Tipo</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>   
{% endblock %}