{% extends "templateEmpresa/base.html" %}

{% block contenido %}


<div class="row">
    <div class="col-10 offset-1">
        <h3>Eliminar Usuario</h3>
        <div class="alert alert-danger h5">
            ¿Está seguro que desea eliminar al usuario <strong>{{ usuario.nombre }} {{ usuario.paterno }} {{ usuario.materno }}</strong>?
        </div>

        <form method= "POST">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <a href="{% url 'listarUsuarios' %}" class="btn btn-warning">Cancelar</a>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}