{% extends "templateEmpresa/base.html" %}
{% block contenido %}



<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="card shadow-lg p-4">
                <div class="card-body">
                    <h2 class="text-center pb-4">Mantenedor de Usuarios</h2>

                <form method="POST" action="{% url 'usuarioEditado' usuario.id %}">
                    {% csrf_token %}
                    <div class="row">
                        {{ form.non_field_errors }}

                        <div class="col-3 mb-3">
                            {{ form.run.label_tag }}
                            {{ form.run }}
                            <div class="text-danger">{{ form.run.errors }}</div>
                        </div>

                        <div class="col-3 mb-3">
                            {{ form.nombre.label_tag }}
                            {{ form.nombre }}
                            <div class="text-danger">{{ form.nombre.errors }}</div>
                        </div>

                        <div class="col-3 mb-3">
                            <label for="id_paterno">Apellido Paterno:</label>
                            {{ form.paterno }}
                            <div class="text-danger">{{ form.paterno.errors }}</div>
                        </div>

                        <div class="col-3 mb-3">
                            <label for="id_materno">Apellido Materno:</label>
                            {{ form.materno }}
                            <div class="text-danger">{{ form.materno.errors }}</div>
                        </div>

                        <div class="col-3 mb-3">
                            <label for="id_correo">Correo Electrónico:</label>
                            {{ form.correo }}
                            <div class="text-danger">{{ form.correo.errors }}</div>
                        </div>

                        <div class="col-3 mb-3">
                            {{ form.telefono.label_tag }}
                            {{ form.telefono }}
                            <div class="text-danger">{{ form.telefono.errors }}</div>
                        </div>

                        <div class="col-3 mb-3">
                            <label for="id_fecha_nacimiento">Fecha de Nacimiento:</label>
                            <input type="date" class="form-control" name="fecha_nacimiento" value ="{{ form.fecha_nacimiento.value|date:'Y-m-d' }}">
                            <div class="text-danger">{{ form.fecha_nacimiento.errors }}</div>
                        </div>

                        <div class="col-3 mb-3">
                            {{ form.estado.label_tag }}
                            {{ form.estado }}
                            <div class="text-danger">{{ form.estado.errors }}</div>
                        </div>

                        <div class="col-3 mb-3">
                            {{ form.tipo_usuario.label_tag }}
                            {{ form.tipo_usuario }}
                            <div class="text-danger">{{ form.tipo_usuario.errors }}</div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-6 text-start">
                            <a href="{% url 'listarUsuarios' %}" class="btn btn-dark">Volver</a>
                        </div>
                        <div class="col-6 text-end">
                            <button type="submit" class="btn btn-primary">Modificar Usuario</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}